body {
	width: 80%;
	margin: 0 auto;
}

#header_img {
	width: 100%;
	margin-top: 10px;
}

.BlogTitle {
	font-size: 1.2em;
	font-weight: 600;
}

header p {
	font-size: 2em;
}

main {
	clear: left;
}

nav li {
	float: left;
	list-style: none;
	margin-left: 10px;
}

main section {
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	margin-top: 10px;
	padding: 5px;
}

footer {
	margin-top: 20px;
}